* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contact-page {
    min-height: 60vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) ,url("/images/image\ 17.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.center-heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-heading h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 45px;
    color: #fff;
}


.contact-links {
    min-height: 40vh;
    background-color: #0B1517;
    color: #fff;
    padding: 100px 100px 50px 100px;

}

.links-contacts {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
}

.links-contacts .flex {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    margin-top: 13px;
}

.links-contacts img {
    background-color: #DC9457;
    width: auto;
    height: 28px;
    border-radius: 15px;
    padding: 8px;
    margin-right: 10px;
}

.links-contacts p {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.contactNumber h4, .socialMedia h4, .openingHours h4 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 23px;
    margin-bottom: 20px;
}

.get-in-touch {
    min-height: 100vh;
    background-color: #0B1517;
    color: #fff;
    padding: 100px 100px 100px 100px;
}

.input-section .left img{
    height: auto;
    width: 470px;
    /* margin-right: 60px; */
}

.input-section {
    display: flex;
}

.right {
    /* background-color: lightgrey; */
    text-align: left;
    padding: 30px 0px 0px 66px;
}

.right h4 {
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 23px;
    margin-bottom: 13px;
}

.right span {
    color: #DC9457;
}

.right p {
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    margin-bottom: 30px;
}

.phone {
    width: 100%;
    margin-bottom: 25px;

}

.left-right {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 25px;
}

.name {
    width: 100%;
    margin-right: 15px;
    
}

.email {
    width: 100%;
    margin-left: 15px;

}

textarea {
    width: 100%;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.9);
    height: 170px;

}

.submit{
    width: 100%;
    margin-top: 16px;
    background-color: #57B957;
    border: none;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 15px;
    border-radius: 4px;
}

input {
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.9);
}
